body {
    --body-background-color: white;
    --navbar-background-color: linear-gradient(89.81deg, #0678F4 41.01%, #37B2DF 99.64%);
    --nav-tab-background-color: #ebebeb;
    --tab-background-color: #f4f4f4;
    --transition-delay: 0.5s;
    --button-bg-color: white;
    --button-bg-hover: #e7e7e7;
    --form-bg-color: white;
    --form-border-color: #1a73e8e3;
    --border-color: 1px solid #d2d6de;
    --icon-color: black;
    --terminal-bg-color: white;
    --text-color: black;
    --text1-color: #5e5e5e;
    --text2-color: rgb(46, 46, 46);
    --nav-tab-active-text: black;
    --nav-tab-inactive-text: darkgrey;
    --nav-tab-active-color: white;
    --nav-tab-active-bg-color: white;
    --warning-color: red;
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px 1px;
    --text-bg-color: hsl(0, 0%, 98%);
    background-color: var(--body-background-color);
    transition: var(--transition-delay);
   /* background-image: url("subtle-grey.png");
    */
   /* overflow-x: scroll;
    */
    font-family: 'Source Code Pro', monospace;
}
body.dark {
    --body-background-color: rgb(15, 15, 15);
    --navbar-background-color: linear-gradient(132deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 60%);
    --nav-tab-background-color: rgb(39, 40, 43);
    --tab-background-color: rgb(39, 40, 43);
    --button-bg-color: rgb(39, 40, 43);
    --button-bg-hover: grey;
    --border-color: 1px solid transparent;
    --form-bg-color: rgb(34, 34, 39);
    --form-border-color: black;
    --icon-color: white;
   /* --terminal-bg-color: #1d1f21;
    */
    --terminal-bg-color: black;
    --text-color: white;
    --text1-color: #bdbdbd;
    --text2-color: #bdbdbd;
    --nav-tab-active-text: white;
    --nav-tab-inactive-text: #909099;
    --nav-tab-active-color: green;
    --nav-tab-active-bg-color: rgb(39, 40, 43);
    --warning-color: darkorange;
    --text-bg-color: hsl(0, 0%, 10%);
    background-image: none;
}
#editor-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 4px 1px hsla(0, 0%, 0%, .1);
    box-shadow: var(--box-shadow);
    margin: 0;
   /* margin-top: 6px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    */
}
#create_tab, #header-control>.btn-group>.btn {
    background-color: white;
    border: 1px solid #d2d6de;
    color: black;
   /* transition: 0.5s;
    */
    background-color: var(--button-bg-color);
    border: var(--border-color);
    color: var(--icon-color);
    transition: var(--transition-delay);
}
#header-control>.btn-group>.btn:hover {
    background-color: #e7e7e7;
    border: 1px solid #d2d6de;
    color: black;
   /* transition: 0.5s;
    */
    background-color: var(--button-bg-hover);
    border: var(--border-color);
    color: var(--icon-color);
    transition: var(--transition-delay);
}
.textbox {
    background-color: white;
    color: black;
    border: 1px solid #d2d6de;
   /* transition: 0.5s;
    */
    background-color: var(--form-bg-color);
    color: var(--text-color);
    border: var(--border-color);
    transition: var(--transition-delay);
}

#input_arguments {
    flex: 1;
}
#share-btn {
    flex: 0.01;
    margin-right: 3px;
    background-color: white;
    color: rgba(0, 0, 0, .65);
    color: var(--text1-color);
    border-color: grey;
   /* color: #085fd1;
    border-color: #085fd1;
    */
}
#run-btn, #share-btn, #stop-btn {
   /* width: 100%;
    */
    min-width: 7.5rem;
    background-color: white;
   /* transition: 0.5s;
    */
    background-color: var(--button-bg-color);
    transition: var(--transition-delay);
}
#share-content-after {
    top: 20vh;
}
#share-content {
    top: 20vh;
    height: 240px;
}
#share-dialog {
    width: 360px;
}
#share-dialog-after {
    width: 380px;
}
#addthis_nav {
    margin-top: 5px;
    margin-left: 1rem;
}
.nav-tabs>li>a {
    display: inline-block;
    width: 100%;
    margin-bottom: -2px;
}
.nav-tabs>li>a:hover {
    background-color: #ebebeb;
   /* transition: 0.5s;
    */
    background-color: var(--nav-tab-background-color);
    color: var(--nav-tab-active-text);
}
.nav-tabs>li:not(.active)>a {
    color: darkgrey;
    background-color: #ebebeb;
   /* transition: 0.5s;
    */
    color: var(--nav-tab-inactive-text);
    font-weight: normal;
    background-color: var(--nav-tab-background-color);
    border: 0px;
    border-bottom-color: transparent;
    transition: var(--transition-delay);
}
#editor-1 {
    border: 50px;
    color: white;
    width: 80px;
    background-color: white;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: black;
    background-color: white;
   /* transition: 0.5s;
    */
    border-bottom: 2px solid white;
    color: var(--nav-tab-active-text);
    cursor: default;
    font-weight: normal;
    background-color: var(--nav-tab-active-bg-color);
    border: 0px;
    border-bottom: 2px solid var(--nav-tab-active-color);
    transition: var(--transition-delay);
}
.nav-tabs>li.active>a {
    border: 0px;
    border-bottom: 2px solid white;
    border-bottom: 2px solid var(--nav-tab-active-color);
}

#content {
    position: relative;
    width: 60%;
    margin: auto;
    z-index: 10;
}
.navbar-top {
   /* background-color: #1a73e8;
    */
    background-image: linear-gradient(89.81deg, #0678F4 41.01%, #37B2DF 99.64%);
   /* transition: 0.5s;
    */
    background-image: var(--navbar-background-color);
    transition: var(--transition-delay);
    display: flex;
    flex-direction: row;
    height: 40px;
    min-width: 450px;
}
.addthis_inline_share_toolbox_28pb {
    margin-top: 5px;
    margin-left: 1rem;
}
#header-text {
    margin-top: 4px;
    font-size: 170%;
    color: #666;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
}
.container {
    height: calc(100vh - 40px);
    width: 75vw;
    min-width: 450px;
    min-height: 600px;
    float: center;
}
#editor {
    border-left: 1px solid #d2d6de;
    border-right: 1px solid #d2d6de;
   /* transition: 0.5s;
    */
    border-left: var(--border-color);
    border-right: var(--border-color);
    height: 100%;
    font-size: 100%;
    overflow-y: auto;
    font-family: 'Source Code Pro', monospace;
    transition: var(--transition-delay);
   /* -webkit-font-smoothing: antialiased;
    */
}
.control-bar {
    margin-top: 5px;
    height: 30px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
   /* justify-content: space-between;
    */
}
#header-control {
    margin-top: 6px;
   /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    */
    height: 34px;
}
.lang-select {
    margin-right: 4px;
    float: right;
}
.setting-btn {
    float: right;
}
.label-primary {
    background-color: #1a73e8e3 !important;
}
.nav-tabs {
    margin-top: 6px;
    line-height: 25px;
    background-color: #ebebeb;
   /* transition: 0.5s;
    */
    border: 1px solid #d2d6de !important;
    border-left: 1px solid #d2d6de;
    border-right: 1px solid #d2d6de;
    background-color: var(--nav-tab-background-color);
    transition: var(--transition-delay);
    border: var(--border-color) !important;
    border-left: var(--border-color);
    border-right: var(--border-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
pre {
    display: block;
    font-family: 'Source Code Pro', monospace;
    white-space: pre;
    font-size: 105%;
    border-radius: 0px;
    border: 0px solid transparent;
    overflow-x: auto;
    overflow-y: auto;
    min-height: 95%;
}
#hidden_textarea {
    position: absolute;
    left: -100%;
    top: -100%;
}
textarea {
    font-size: large;
}
.textbox {
    box-sizing: border-box;
   /* border: 1px solid lightgrey;
    */
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    overflow: auto;
    height: 30px !important;
    border-radius: 3px;
    flex: 0.9;
}
.textbox:focus {
    border: 1px solid green;
}
.label {
    font-size: 90% !important;
   /* padding-top: 5px !important;
    */
}
@media all and (max-width: 1100px) {
    #container {
        width: 100%;
   }
    .nav_logo {
        margin-left: 2.8rem;
   }
    #header-text {
        display: none;
   }
}
#error {
    color: red;
    color: var(--warning-color);
}

.text-content>h1 {
    text-align: center;
}
.text-content>p, .text-content>ul>li, #info>ul>li {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.625;
    color: var(--text2-color);
}
.text-content {
    background: var(--text-bg-color);
    padding: 5px 20px;
    margin: 20px 8px;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}
.d-flex {
    display: flex;
}
@media all and (max-width: 1100px) {
    #sidebar-right-ad, #sidebar-left-ad {
        display: none;
   }
}
@media all and (max-width: 410px) {
    .addthis_inline_share_toolbox_28pb {
        display: none;
   }
    .container {
        padding-right: 0px;
        padding-left: 0px;
   }
    #share-dialog {
        width: calc(var(--min-width) - 20px);
   }
}
.editor {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 5% auto;
    border: 1px solid #3e4452;
    border-left: 1px solid #d2d6de;
    border-right: 1px solid #d2d6de;
   /* transition: 0.5s;
    */
    border-left: var(--border-color);
    overflow-y: auto;
    transition: var(--transition-delay);
    overflow: scroll;
}
.file-header {
    padding: 10px;
    background-color: #eceef3;
    text-align: center;
}
.editor-content {
    display: flex;
    border: 1px solid #ddd;
    height: 337px;
    overflow: hidden;
}
#lineNumbers {
    width: 50px;
    background-color: #eee;
    padding: 5px 10px;
    margin-right: 5px;
    overflow: hidden;
    user-select: none;
    height: 100%;
}
.code {
    width: 100%;
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    font-size: 13px;
    line-height: 1.4;
    resize: none;
    overflow: auto;
    font-family: 'Source Code Pro', monospace;
    tab-size: 4;
    white-space: pre;
}
body.dark .code {
    background-color: #282c34;
   /* Dark background */
    color: yellow;
   /* Light text */
}
body.dark .file-header {
    background-color: #404450;
   /* Slightly darker header for the dark theme */
}
body.dark #lineNumbers {
    background-color: #404450;
    color: whitesmoke;
}
.output-section {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 92%;
}
/* For dark mode, adjust colors accordingly */
body.dark .output-section {
    background-color: #282c34;
    color: #abb2bf;
}
.tab-content pre {
    max-height: 300px;
    overflow-y: auto;
}
body.dark .tab-content pre {
    color: #abb2bf;
}
#editor-1 {
    text-align: center;
}
.nav_logo {
    color: white;
}
